.fixed-btn{
    position: fixed;
    z-index: 998;
    top: 64px;
    left :64px;
}

ul > li > a{
    transition: color 0.3s;
}

ul > li:hover > a{
    color: #ff5252;
}

@media screen and (min-width: 576px) and (max-width: 767){
    .fixed-btn{
        left: 30px;
    }
}

/*smallphone*/
@media (max-width: 575px){
    .fixed-btn{
        left: 30px;
    }
}